<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="{{description}}">
		<link rel="icon" href="https://xn-----6kcbbk0cohldgbid9bo.xn--p1ai/images/icons/favicon.png" type="image/svg+xml">
		<link rel="stylesheet" type="text/css" href="css/basic.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="js/basic.js"></script>
        <title>Главная</title>
		
		<meta property="og:title" content="Главная">
		<meta property="og:site_name" content="{{SITE}}">
		<meta property="og:url" content="{{url}}">
		<meta property="og:description" content="{{description}}">
		<meta property="og:image" content="{{preview}}">
    </head>

    <body>
		{{{body}}}
    </body>
    
</html>